.panel-custom>.panel-heading {
    color: #fff;
    background-color: #014279;
    border-color: #014279;
}
.panel-custom>.panel-body {
    padding:0px;
}
.panel-custom>.panel-body>.list-group {
    padding-left: 0;
    margin-bottom: 0px;
}
.panel-custom>.panel-body>.list-group>.list-group-item {
	border: none;
    border-top: 1px solid #ddd;
}