@media(max-width:990px) {

	.col-gallery{
		width:33.33%;
	}	
	
}

@media(max-width:767px) {
	/* video */
	.col-video {
		width:50%;
	}
	
	.col-gallery{
		width:33.33%;
	}


}


@media(max-width:480px) {
	/* video */
	.col-video {
		width:100%;
	}
	.col-gallery{
		width:50%;
	}

	
	/* chi tiet sp */
	.img-detail-pro{
		width:100%;
	}
	.quote-pro{
		width:100%;
		margin:0;
		margin-top:15px;
		margin-bottom:15px;
	}
	
	.item-content-row .img{
		width:80px;
	}
	.item-content-row .img a{
		width:80px;
	}

}