a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline
}

#contact .lnr-rocket a,
body {
    font-family: Segoe UI, 'Open Sans', sans-serif
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

ol,
ul {
    list-style: none
}

a:active,
a:hover,
a:link,
a:visited {
    text-decoration: none;
    color: #b1b1b1;
}

a:active,
a:hover {
    color: #ef5a23
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

.loading {
    width: 100%;
    height: 100%;
    background: #fbfbfb;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 12
}

.loading-badge {
    position: absolute;
    width: 300px;
    height: 100px;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -150px
}

.loading-spinner {
    position: absolute;
    top: 20px;
    left: 135px;
    font-size: 1px;
    text-indent: -9999px;
    border-top: 1px solid rgba(100, 100, 100, .1);
    border-right: 1px solid rgba(100, 100, 100, .1);
    border-bottom: 1px solid #555;
    border-left: 1px solid #555;
    -webkit-animation: load8 1s infinite linear;
    animation: load8 1s infinite linear
}

.loading-spinner,
.loading-spinner:after {
    border-radius: 50%;
    width: 30px;
    height: 30px
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

html {
    -webkit-text-size-adjust: 100%;
    background: #f9f9f9
}

body {
    line-height: 1;
    font-size: 14px;
    color: #777;
    position: relative;
    max-width: 960px;
    margin: 0 auto
}

.toggle-button {
    position: absolute;
    top: 22px;
    right: 9px;
    display: none;
    font-size: 36px
}

#panel,
#slogan,
.menu-item,
content,
logo a {
    display: block
}

#menu {
    z-index: 1;
    position: absolute;
    right: 0;
    margin: 33px 13px 0 0
}

.menu-item {
    margin: 0 15px;
    float: left
}

#panel,
header {
    background: #fff
}

#panel {
    position: relative;
    overflow: hidden;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee
}

header {
    height: 80px;
    border-bottom: 1px solid #eee
}

#vertical-line,
logo {
    height: 33px;
    display: block
}

logo {
    width: 333px;
    position: absolute;
    top: 25px;
    left: 28px
}

logo a {
    width: 154px;
    float: left
}

logo img {
    width: 100%;
    margin-top: 4px
}

#vertical-line {
    width: 1px;
    border-left: 1px solid #cacaca;
    margin: 0 15px 0 18px;
    float: left
}

#slogan {
    margin-top: 8px;
    color: #b1b1b1;
    cursor: default
}

#slides,
content {
    max-width: 100%;
    text-align: justify
}

#slides {
    height: 100%
}

#home content,
#machining content,
#mold content {
    height: 540px
}

.slides-caption,
.slides-pagination a {
    display: inline-block;
    color: #fff;
    background-color: rgba(0, 0, 0, .5)
}

.slides-caption {
    max-width: 45%;
    padding: 15px 30px 15px 25px;
    position: absolute;
    right: 0;
    bottom: 72px;
    font-size: 16px;
    line-height: 1.8;
    cursor: default
}

.slides-pagination {
    position: absolute;
    z-index: 3;
    bottom: 24px;
    right: 19px;
    text-align: center
}

.slides-pagination a {
    width: 24px;
    height: 20px;
    padding-top: 4px;
    margin: 0 6px;
    font-size: 13px
}

.slides-pagination a.current {
    background: rgba(232, 75, 17, .5)
}

footer {
    display: block;
    width: 100%;
    background: #fff;
    color: #b1b1b1;
    border-top: 1px solid #eee;
    font-size: 13px;
    text-align: center;
    line-height: 3;
    cursor: default;
    height: 0
}

#all-rights,
#copyright {
    display: inline-block
}

#about #to-about a,
#contact #to-contact a,
#machining #to-machining a,
#mold #to-mold a {
    color: #ef5a23
}

#about content,
#contact content {
    max-height: 100%
}

#about content div {
    max-width: 640px;
    padding: 0 28px;
    margin: 0 auto;
    font-size: 15px;
    line-height: 1.65
}

#about content div img {
    display: block;
    max-width: 100%;
    margin: 0 auto
}

#contact .map {
    width: 580px;
    height: 435px;
    margin: 28px 0 28px 28px;
    float: left
}

#contact .lnr-rocket {
    display: none;
    margin: 28px 28px 0
}

#contact .company-name {
    color: #ef5a23;
    font-weight: 700;
    cursor: default
}

#contact #address {
    line-height: 1.65;
    margin: 28px;
    float: left;
    cursor: default
}

.email {
    text-decoration: none;
    color: #b1b1b1;
}

#contact footer {
    float: left
}

@media (min-width:1280px) and (min-height:700px) {
    body {
        max-width: 1280px;
        font-size: 15px
    }
    #contact .map {
        width: 800px
    }
}

@media (max-width:880px) {
    #menu {
        z-index: 0;
        margin: 0;
        top: 19px;
        width: 256px
    }
    .toggle-button {
        display: block
    }

    a:active,
    a:hover,
    a:link,
    a:visited {
        text-decoration: none;
        color: #777;
    }

    a:active,
    a:hover {
        color: #ef5a23
    }
    logo {
        left: 15px
    }
    .menu-item {
        float: none;
        margin: 0;
        padding: 15px 15px 15px 20px
    }
    .slides-caption {
        max-width: 60%
    }
}

@media (max-width:640px) {
    .slides-caption {
        max-width: 70%
    }
    .slides-pagination {
        display: none
    }
    #contact .map {
        display: none
    }
    #contact .lnr-rocket {
        display: block;
        margin-top: 0;
        margin-left: 0;
        line-height: 1.65;
    }
}

@media (max-width:480px) {
    .slides-caption {
        max-width: 100%
    }
    #all-rights,
    #contact .map,
    #copyright,
    #slogan,
    #vertical-line,
    .slides-pagination {
        display: none
    }
}

@media (min-height:800px) {
    #home content,
    #machining content,
    #mold content {
        height: 720px
    }
    #contact .map {
        height: 600px
    }
}

@media (orientation:portrait) and (min-height:768px) {
    #home content,
    #machining content,
    #mold content {
        max-height: 768px
    }
}

@media (min-height:700px) {
    header {
        height: 120px
    }
    logo {
        top: 45px
    }
    #menu {
        margin-top: 53px
    }
    .toggle-button {
        top: 43px
    }
}

@media (min-height:700px) and (max-width:880px) {
    #menu {
        margin-top: 20px
    }
}

@media (max-height:700px) {
    #home footer,
    #machining footer,
    #mold footer {
        line-height: 1.5
    }
}

@media (orientation:portrait) and (max-height:640px) {
    #home content,
    #machining content,
    #mold content {
        max-height: 440px
    }
    .slides-caption {
        bottom: 0
    }
    .slides-pagination {
    	display: none;
    }
}

@media (max-height:500px) {
    #home content,
    #machining content,
    #mold content {
        max-height: 350px
    }
    .slides-caption {
        bottom: 0
    }
    .slides-pagination {
    	display: none;
    }
    #contact .map {
        max-height: 300px
    }
}

@media (max-height:414px) {
    #home content,
    #machining content,
    #mold content {
        max-height: 300px
    }
    .slides-pagination {
        display: none
    }
}

@media (max-height:375px) {
    #home content,
    #machining content,
    #mold content {
        max-height: 265px
    }
    .slides-pagination {
        display: none
    }
}

@media (max-height:320px) {
    #home content,
    #machining content,
    #mold content {
        max-height: 210px
    }
    .slides-caption {
        bottom: 0
    }
    .slides-pagination {
    	display: none;
    }
}
