header{
	background-color: #3b5998;
	color: #fff;
}

header .jumbotron{
	background-color: #3b5998;
	margin: 0px;
	padding-top: 15px;
    padding-bottom: 15px;
}

a{
	cursor: pointer;
}
.body .row{
	margin-left: 0px;
	margin-right: 0px;
}

.home-container table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 15px 0;
}

.home-container img {
    max-width: 100% !important;
}

.home-container table th, .home-container table td {
    min-width: 40px;
    height: 30px;
    border: 1px solid #ccc;
    vertical-align: top;
    padding: 2px 4px;
    text-align: left;
    box-sizing: border-box;
}

iframe {
	width: 100% !important;
	min-height: 500px;
}

.body .panel-body {
    padding: 0;
}

.body .list-group {
    border: none;
    padding: 0px;
    margin-bottom: 0px;
}

.body .list-group-item {
    margin-bottom: 0px;
    border-right: none;
    border-left: none;
    border-top: none;
}

.body .iframe-doc-contain {
    position: fixed;
    top: -10px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 98;
}

.body .iframe-doc-button {
    position: fixed;
    top: 5px;
    right: 25px;
    z-index: 99;
    opacity: .7;
}

.body .iframe-doc {
    display: none;
}

.body .news-image {
	height: 150px;
	width: 200px;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}




